.container {
  display: flex;
  align-items: center;
  column-gap: 16px;
  padding: 12px;
  border-bottom: 1px solid #F2F2F2;
}

.title {
  font-size: 14px;
  line-height: 19.36px;
  color: #010101;
}
.subtitle {
  font-size: 13px;
  line-height: 16px;
}

.containerText {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  flex: 1;
}

.containerLogo {
  width: 40px;
  height: 40px;
  position: relative;
}

.logo {
  object-fit: contain;
}