.container {
  display: flex;
  align-items: center;
  column-gap: 16px;
  padding: 12px;
  border-bottom: 1px solid var(--color-border-primary);
}

.title {
  font-size: 14px;
  line-height: 19.36px;
  font-weight: 400;
  color: var(--color-text-secondary);
}
.subtitle {
  font-size: 13px;
  line-height: 16px;
}

.containerText {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  flex: 1;
}

.containerLogo {
  width: 40px;
  height: 40px;
  position: relative;
}

.logo {
  object-fit: contain;
}